<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MXmlResource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MXmlResource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MXmlResource.Properties.Settings>
            <setting name="CSSPath" serializeAs="String">
                <value>css/</value>
            </setting>
            <setting name="DefinePath" serializeAs="String">
                <value>defines/</value>
            </setting>
            <setting name="MaterialPath" serializeAs="String">
                <value>i:/development/material/</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>i:/development/output/release/mxml/</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>i:/development/output/</value>
            </setting>
        </MXmlResource.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MXmlResource.Properties.Settings>
            <setting name="ImageMagickPathMedhand" serializeAs="String">
                <value>convert-medhand.exe</value>
            </setting>
            <setting name="ImageMagickPathOrginal" serializeAs="String">
                <value>convert.exe</value>
            </setting>
            <setting name="ResourceDir" serializeAs="String">
                <value>resource/</value>
            </setting>
            <setting name="BinDir" serializeAs="String">
                <value>res.bin/</value>
            </setting>
            <setting name="RuntimeDir" serializeAs="String">
                <value>runtime/</value>
            </setting>
            <setting name="Namespace" serializeAs="String">
                <value>MXmlResource.Book.Xml.Element.</value>
            </setting>
        </MXmlResource.Properties.Settings>
    </applicationSettings>
</configuration>